@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --font: 'Montserrat', sans-serif;
    --bg-color: #3A1078;
    --color-primary: #F6F1F1;
}

body {
    background-color: var(--bg-color);
    color: var(--color-primary);
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--color-primary);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

.btn-jogar {
    padding: 8px 15px;
    margin-top: 2em;
    border: 0;
    border-radius: 5px;
    background: var(--color-primary);
}
